.wrapper {
  max-width: 52rem;
  padding: 0 1rem;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
    /* 14px = 14 * 100 / 16 = 87,5rem */
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
